/*head*/

header {
    background: url("http://www.placecage.com/900/300") no-repeat;
    background-size:cover;
    border: 1px solid #000000;
    height: 300px;
}


h1 {
  color: #ffffff;
}

nav a, li {
  color: #ffffff;
  display: inline;

}

/*body*/
main {
  padding: 100px;





}
div {
  float: right;
  width: 10%;
  font-size: 11px;
}


h6 {

    text-align: center;
    font-size: 15px;
}






/*footer*/

footer {



}
